<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DeptName</key>
		<string>无部门</string>
		<key>JobName</key>
		<string>普工</string>
	</dict>
	<dict>
		<key>DeptName</key>
		<string>财务部</string>
		<key>JobName</key>
		<string>财务文员</string>
	</dict>
	<dict>
		<key>DeptName</key>
		<string>五金部</string>
		<key>JobName</key>
		<string>仓管员</string>
	</dict>
	<dict>
		<key>DeptName</key>
		<string>无部门</string>
		<key>JobName</key>
		<string>外贸助理</string>
	</dict>
	<dict>
		<key>DeptName</key>
		<string>模具部</string>
		<key>JobName</key>
		<string>电脑雕刻</string>
	</dict>
	<dict>
		<key>DeptName</key>
		<string>皮具部</string>
		<key>JobName</key>
		<string>皮带班车位</string>
	</dict>
	<dict>
		<key>DeptName</key>
		<string>人力部</string>
		<key>JobName</key>
		<string>人事助理</string>
	</dict>
	<dict>
		<key>DeptName</key>
		<string>人力部</string>
		<key>JobName</key>
		<string>前台文员</string>
	</dict>
	<dict>
		<key>DeptName</key>
		<string>行政部</string>
		<key>JobName</key>
		<string>总经理助理</string>
	</dict>
	<dict>
		<key>DeptName</key>
		<string>五金部</string>
		<key>JobName</key>
		<string>压铸工</string>
	</dict>
	<dict>
		<key>DeptName</key>
		<string>财务部</string>
		<key>JobName</key>
		<string>出纳</string>
	</dict>
	<dict>
		<key>DeptName</key>
		<string>无部门</string>
		<key>JobName</key>
		<string>电工</string>
	</dict>
	<dict>
		<key>DeptName</key>
		<string>无部门</string>
		<key>JobName</key>
		<string>电镀工</string>
	</dict>
	<dict>
		<key>DeptName</key>
		<string>无部门</string>
		<key>JobName</key>
		<string>皮具生产熟练工</string>
	</dict>
	<dict>
		<key>DeptName</key>
		<string>五金部</string>
		<key>JobName</key>
		<string>抛光工</string>
	</dict>
</array>
</plist>
